:host {
  padding: 20px;
}

input, md-input-container, md-select {
  width: 100%;
}
md-card-actions {
  margin-top: 20px;
  display: block;
}
.toggler {
  padding-top: 20px;
}
.total {
  padding-top: 20px;
  text-align: right;
}
